# Dependencies
node_modules/
/.pnp
.pnp.js

# Next.js
/.next/
/out/

# Build
/build

# Env files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Misc
.DS_Store
Thumbs.db
*.log
npm-debug.log*

# Editor
.vscode/
.idea/
